<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation Test Suite">


	<test name="OLA API Automation">
		<classes>
			<class name="olaSpecFiles."></class>
			<class name="olaSpecFiles."></class>
			<class name="olaSpecFiles."></class>
		</classes>
	</test>
</suite>